:root {
  --blue: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.logo_img {
  display: block;
}

.logo {
  margin-right: auto;
}

.nav_list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  display: flex;
  align-items: center;
}

.nav_list li:not(:last-child) {
  margin-right: 20px;
}

.is-active {
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 8px;
}

.nav-links:hover {
  color: var(--blue);
}

.apple {
  color: var(--blue);
}
